@{
    // Aquí normalmente Layout = null si queremos que este sea el layout “base” no?
    // SIN HERENCIA
    Layout = null;

    // Pruebas
    var userRole = ViewBag.UserRole as string ?? "Alumno";
    var userName = ViewBag.UserName as string ?? "Usuario";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - SILAS</title>
    <!-- EL CSS ES "generic.css" -->
    <link href="~/css/generic.css" rel="stylesheet" />
</head>
<body class="bg_blur">

    <!-- CONTENEDOR PPAL -->
    <div id="generic_body">

        <!-- HEADER -->
        @Html.Partial("_HeaderPartial", (userRole, userName))

        <!-- CONTENEDOR (MAIN,LATDER,LATIZQ) -->
        <div id="generic_central_panel">

            <!-- LATERAL IZQUIERDO -->
            <div id="left_panel">
                @Html.Partial("_LeftPanelPartial", userRole)
            </div>

            <!-- MAIN -> Q SERÁ EL CONTENIDO Q PONGA LA VISTA HIJA -->
            <div id="central_panel">
                @RenderBody()
            </div>

            <!-- LATERAL DERECHO -->
            <div id="right_panel">
                @Html.Partial("_RightPanelPartial", userRole)
            </div>
        </div>

        <!-- SIN FOOTER DE MOMENTO, AUNQUE CONSIDERO QUE ALGO DEBERÍA HABER QUIZÁ COMO APOYO -->
        <!--  (ARROBA)Html.Partial("_FooterPartial", userRole)  -->
    </div>

</body>
</html>
